<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <script src="dhtmlx/codebase/dhtmlx.js" type="text/javascript" th:src="@{dhtmlx/dhtmlx.js}"></script>
    <link rel="STYLESHEET" type="text/css" href="dhtmlx/codebase/dhtmlx.css" th:href="@{dhtmlx/dhtmlx.css}">

    <script src="js/jq/jquery-3.3.1.js" type="text/javascript" th:src="@{js/jq/jquery-3.3.1.js}"></script>
    <script src="js/login.js" type="text/javascript" th:src="@{js/login.js}"></script>

    <link rel="STYLESHEET" type="text/css" href="css/login.css" th:href="@{css/login.css}">

</head>
<body>





<!--<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>-->
<div class="layout-center" style="position: relative; height: 100%; border: #cecece 1px solid; " id="winVP">
    <img src="imgs/main-logo-ru.png"  style="z-index: 110; position: absolute;"  th:attr="src=@{imgs/main-logo-ru.png}" />
</div>

<div id="loginDialog" style="height: 100%; overflow: auto; padding: 20px;">
    <form id="loginForm" name="loginForm"  method="post" th:action="@{/login}">
        <p>
            <label for="username">User Name</label>
            <input type="text" id="username" name="username" class="required" style="float: right;" />
        </p>
        <p>
            <label for="password"> Password:</label>
            <input type="password" id="password" name="password" class="required" style="float: right;" />
        </p>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <hr/>
        <p style="float: right;">
            <button type="submit">submit</button>
            <button type="reset">reset</button>
        </p>
    </form>
</div>
</body>
</html>